@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$font-family: 'Raleway', sans-serif; 
$family-sans-serif: 'Raleway';

$primary: #FFDDD2;
$link: #E29578;

@import "../node_modules/bulma/bulma.sass";

.active-btn {
    background-color: var(--color-primary);
    i { color: var(--color-white); }
}

.mybackground{
    background-image: url("../img/home-bg.svg");
    background-repeat: no-repeat;
    background-size:cover;

}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

.footer-cr{
  text-align: right;
}
.footer-cl{
  text-align: left;
}


@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
    .footer-cr{
      text-align: center !important;
    }
     .footer-cl{
      text-align: center !important;
    }
  }